ExifRead==2.3.1
Flask-SQLAlchemy==2.4.4
Flask==1.1.2
HTMLParser==0.0.2
Pillow==9.0.1
PyAudio==0.2.11
PyAutoGUI==0.9.50
PyPDF2==1.27.5
SpeechRecognition==3.8.1
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
chromedriver-binary==85.0.4183.38.0
click==7.1.2
cycler==0.10.0
dnspython==2.0.0
emoji==0.6.0
ffmpeg==1.4
ffpyplayer==4.3.1
gTTS==2.1.1
